/*  Tipos de letras */
@font-face {
    font-family: raleway-medium;
    src: url(../fonts.css/Raleway-Medium.ttf);
}
@font-face {
    font-family: raleway-regular;
    src: url(../fonts.css/Raleway-Regular.ttf);
}
@font-face {
    font-family: raleway-thin;
    src: url(../fonts.css/Raleway-Thin.ttf);
}
@font-face {
    font-family: raleway-semibold;
    src: url(../fonts.css/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: raleway-black;
    src: url(../fonts.css/Raleway-Black.ttf);
}
@font-face {
    font-family: raleway-bold;
    src: url(../fonts.css/Raleway-Bold.ttf);
}
